@{
    ViewData["Title"] = "Home Page";
}

@model Usuario

<div class="form-container">
    <h4>Crear Usuario</h4>
    <form asp-action="Crear" method="post">
        <label asp-for="Nombre">Nombre</label>
        <input asp-for="Nombre" type="text" placeholder="Ingrese su nombre" class="form-control" />
        <label asp-for="Apellido">Apellido</label>
        <input asp-for="Apellido" type="text" placeholder="Ingrese su apellido" class="form-control" />
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" placeholder="Ingrese su E-mail" class="form-control" />
        <label asp-for="Password">Contraseña</label>
        <input asp-for="Password" type="password" placeholder="Ingrese su contraseña" class="form-control" />
        <label asp-for="FechaDeNacimiento">Fecha de nacimiento</label>
        <input asp-for="FechaDeNacimiento" type="date" placeholder="Ingrese su fecha de nacimiento" class="form-control" />
        <input type="submit" value="Ingresar" class="btn btn-primary" />
    </form>
</div>