@{
    ViewData["Title"] = "Home Page";
}

@model Usuario

<div class="form-container">
    <h4>Crear Usuario</h4>
    <form asp-action="Crear" method="post">
        <label asp-for="Email">Usuario</label>
        <input asp-for="Email" type="email" placeholder="Ingrese el mail del usuario" class="form-control" />
        <label asp-for="Password">Contraseña</label>
        <input asp-for="Password" type="password" placeholder="Ingrese la contraseña" class="form-control" />
        <input type="submit" value="Ingresar" class="btn btn-primary" />
    </form>
</div>