@{
    ViewData["Title"] = "Ingresar";
}
@model Usuario

<div class="form-container">
    <h2>Ingresar</h2>
    <form asp-action="Ingresar">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" type="email" placeholder="Ingrese el email del usuario" class="form-control" />
        <label asp-for="Password">Contraseña</label>
        <input asp-for="Password" type="password" placeholder="Ingrese la contraseña" class="form-control" />
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
    <div>
        <h5>¿No tenes cuenta? Crea una</h5>
        <a asp-action="Crear" class="btn btn-success">Crear Cuenta</a>
    </div>
</div>